In [1]:
import pandas as pd
from sklearn import linear_model

In [2]:
df = pd.read_csv('homeprices_lrtv.csv')
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [3]:
# Taking median of bedrooms column
# Converting int because if a float
median_bedrooms = int(df.bedrooms.median())
median_bedrooms

4

In [4]:
# Updating bedrooms such that NaN values are filled with median_bedrooms
df.bedrooms = df.bedrooms.fillna(median_bedrooms)
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [5]:
reg = linear_model.LinearRegression()
# Here we have multiple independent variables
reg.fit(df[['area', 'bedrooms', 'age']], df.price)

LinearRegression()

# Formula
y = m1x1 + m2x2 + m3x3 + ... + mnxn + b
<br>Here we have n independent variables (features) with their coefficients m and one intercept b.
<br>Whereas y is dependent variable
<br><br>In our case we have three independent variables area, bedrooms and age while price is dependent.
<br>Now our scenario becomes
<br>price = m1xarea + m2xbedrooms + m3xage + b

In [6]:
# Now we are predicting price by passing each value in order
reg.predict([[5000, 2, 10]])

C:\Users\Hamza\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([796095.79264563])

In [7]:
# Coefficients of repsective independent variables in order
# 112.06244194 is coeffient of area
# 23388.88007794 is coefficient of bedrooms
# -3231.71790863 is coefficient of age
reg.coef_

array([  112.06244194, 23388.88007794, -3231.71790863])

In [8]:
# Value of intercept
reg.intercept_

221323.0018654043