In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('titanic.csv')

In [3]:
df.head()

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,"Heikkinen, Miss. Laina",3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,female,35.0,1,0,113803,53.1000,C123,S,1
4,5,"Allen, Mr. William Henry",3,male,35.0,0,0,373450,8.0500,NaN,S,0

In [4]:
df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis='columns',inplace=True)
df.head()

   Pclass     Sex   Age     Fare  Survived
0       3    male  22.0   7.2500         0
1       1  female  38.0  71.2833         1
2       3  female  26.0   7.9250         1
3       1  female  35.0  53.1000         1
4       3    male  35.0   8.0500         0

In [7]:
dummies = pd.get_dummies(df.Sex)
dummies.head()

   female   male
0   False   True
1    True  False
2    True  False
3    True  False
4   False   True

In [8]:
dummies.replace({
    True : 1,
    False : 0
}, inplace=True)

In [9]:
dummies.head()

   female  male
0       0     1
1       1     0
2       1     0
3       1     0
4       0     1

In [10]:
df = pd.concat([df, dummies], axis='columns')
df.head()

   Pclass     Sex   Age     Fare  Survived  female  male
0       3    male  22.0   7.2500         0       0     1
1       1  female  38.0  71.2833         1       1     0
2       3  female  26.0   7.9250         1       1     0
3       1  female  35.0  53.1000         1       1     0
4       3    male  35.0   8.0500         0       0     1

In [12]:
df.drop(['Sex', 'male'], axis='columns',inplace=True)
df.head()

   Pclass   Age     Fare  Survived  female
0       3  22.0   7.2500         0       0
1       1  38.0  71.2833         1       1
2       3  26.0   7.9250         1       1
3       1  35.0  53.1000         1       1
4       3  35.0   8.0500         0       0

We dropped these two columns to avoid dummy trap

In [13]:
inputs = df.drop(columns=['Survived'])
target = df.Survived

In [15]:
inputs.head()

   Pclass   Age     Fare  female
0       3  22.0   7.2500       0
1       1  38.0  71.2833       1
2       3  26.0   7.9250       1
3       1  35.0  53.1000       1
4       3  35.0   8.0500       0

In [16]:
target.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [17]:
inputs.columns[inputs.isna().any()]

Index(['Age'], dtype='object')

This tells us which columns have NaN values

In [18]:
inputs.Age.fillna(inputs.Age.median(), inplace=True)

In [19]:
inputs.columns[inputs.isna().any()]

Index([], dtype='object')

Now we have no column with anhy NaN value

In [20]:
from sklearn.model_selection import train_test_split

In [32]:
X_train, X_test, y_train, y_test = train_test_split(inputs, target, train_size=0.7)

In [22]:
len(X_train), len(X_test)

(623, 268)

In [23]:
from sklearn.naive_bayes import GaussianNB

In [33]:
model = GaussianNB()

In [34]:
model.fit(X_train, y_train)

GaussianNB()

In [35]:
model.score(X_test, y_test)

0.7723880597014925

In [36]:
model.predict(X_test[:10])

array([0, 0, 1, 1, 0, 0, 0, 0, 0, 1], dtype=int64)

In [38]:
y_test[:10]

648    0
202    0
194    1
11     1
288    1
692    1
719    0
647    1
313    0
484    1
Name: Survived, dtype: int64

In [39]:
model.predict_proba(X_test[:10])

array([[0.96092231, 0.03907769],
       [0.96106411, 0.03893589],
       [0.06078535, 0.93921465],
       [0.04613291, 0.95386709],
       [0.92188589, 0.07811411],
       [0.93639397, 0.06360603],
       [0.96125094, 0.03874906],
       [0.71720486, 0.28279514],
       [0.96095154, 0.03904846],
       [0.43434848, 0.56565152]])

First is probability of not surviving and second is probability of surviving