In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('carprices_ttd.csv')
df.head(3)

   Mileage  Age(yrs)  Sell Price($)
0    69000         6          18000
1    35000         3          34000
2    57000         5          26100

The approach we are going to use here is to split available data in two sets

1. Training: We will train our model on this dataset
2. Testing: We will use this subset to make actual predictions using trained model

The reason we don't use same training set for testing is because our model has seen those samples
before, using same samples for making predictions might give us wrong impression about accuracy of our model.
It is like you ask same questions in exam paper as you tought the students in the class.

In [3]:
x = df[['Mileage', 'Age(yrs)']]
y = df['Sell Price($)']

In [4]:
from sklearn.model_selection import train_test_split

In [5]:
# x_train is the part of x that will be trained and supplied in model.fit function
# Same is y_train

# x_test is the part which we will later test in model.predict function
# Then we will compare that prediction with y_test to see how accurate the prediction was
# Note: y_test was the actual result of x_test in csv file
# While model.predict(x_test) gives its prediction after getting trained by x_train and y_train

# We can also check accuracy by using model.score function

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [6]:
x_train

    Mileage  Age(yrs)
1     35000         3
7     72000         6
15    25400         3
19    52000         5
16    28000         2
4     46000         4
0     69000         6
3     22500         2
8     91000         8
6     52000         5
5     59000         5
12    59000         5
14    82450         7
9     67000         6
11    79000         7
17    69000         5

In [7]:
x_test

    Mileage  Age(yrs)
13    58780         4
18    87600         8
2     57000         5
10    83000         7

In [8]:
y_test

13    27500
18    12800
2     26100
10    18700
Name: Sell Price($), dtype: int64

In [9]:
y_train

1     34000
7     19300
15    35000
19    28200
16    35500
4     31500
0     18000
3     40000
8     12000
6     32000
5     26750
12    26000
14    19400
9     22000
11    19500
17    19700
Name: Sell Price($), dtype: int64

In [10]:
from sklearn.linear_model import LinearRegression

In [11]:
model = LinearRegression()
model.fit(x_train, y_train)

LinearRegression()

In [12]:
model.predict(x_test)

array([24419.56724587, 15362.36456207, 26135.02040439, 16472.82452898])

In [13]:
# Here we can see the results
# Csv file had 32000, prediction was 26998.82316378
# Csv file had 19700, prediction was 23490.05457608
# Csv file had 12800, prediction was 14511.03368133
# Csv file had 31500, prediction was 29950.55049825

y_test

13    27500
18    12800
2     26100
10    18700
Name: Sell Price($), dtype: int64

In [15]:
model.score(x_test, y_test)

0.8504043768368527